$primary-color: #d7ccc8;
$primary-lighter-color: #f3f0ef;
$primary-darker-color: #c7b9b4;
$text-primary-color: #000000de;
$text-primary-lighter-color: #000000de;
$text-primary-darker-color: #000000de;
$accent-color: #e1f5fe;
$accent-lighter-color: #f6fcff;
$accent-darker-color: #d5f0fe;
$text-accent-color: #000000de;
$text-accent-lighter-color: #000000de;
$text-accent-darker-color: #000000de;
$warn-color: red;
$warn-lighter-color: #ffb3b3;
$warn-darker-color: red;
$text-warn-color: #fff;
$text-warn-lighter-color: #000000de;
$text-warn-darker-color: #fff;
